
@use '/src/assets/variables' as vars; 

.cart {
    padding: 100px 0;

    table{
        width: 100%;
        border-spacing: 10px;
        thead{
            
            tr{
                text-align: center;
                td{
                    padding-bottom: 20px;
                }
            }
        }
        tbody{
            width: 100%;
        }
        .cart__item {
            position: relative;
            width: 100%;
            
            span{
                font-size: 20px;
               
            }
                    box-shadow: 0 0 2px #c8c8c8;
            img{
                max-width: 150px;
            }
            td{
                padding: 10px;
                text-align: center;
            }
            .remove__item{
                position: absolute; 
                right: -50px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all .4s;
    
                &:hover{
                    transform: translateY(-50%) rotate(90deg);
                    transform-origin: center center;
                }
            }
        
        
        }
        .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            input{
                max-width: 70px;
                text-align: center;
            }
            span{
                font-size: 30px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                background-color: vars.$pink;
                color: vars.$blue;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .4s ;
    
                &:hover{
                    color: vars.$white;
                    background-color: vars.$blue;
                }
    
            }
        }
       
    }
}
.cart__inner {
    //max-width: 1000px;
    margin: 0 auto;
}

.user__data{
    div{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
.cart__totals{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;

    p{
        background: vars.$pink ;
        width: 30%;
        padding: 20px;
    }
}