
@use '/src/assets/variables' as vars; 
.carousel__inner{
    display: flex;
    transition: all .4s;
    animation: ease-in;
}
.carousel__wrapper{
    width: 600px;
    overflow : hidden;
    margin:  0 auto;
    position: relative;
}
.buses__carousel{
    position: relative;
    .carousel__arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 50px;
        height: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: vars.$pink;
        transition: all .4s;
        &:hover{
            background-color: vars.$red;
        }
        img{
          width: 30px;
        }
    }
    .right{
        right: 0%;

    }
    .left{
        left: 0;
    }
    .dots{
        display: flex;
        gap: 5px;
        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
        
    }
    .dot{
        width: 30px;
        height: 2px;
        background: #b7b7b7;
        display: block;

    }
    .dot.active{
        background-color: #000;
    }
    
}