@use '/src/assets/variables' as vars; 
header{
    
   
    z-index: 100;
    padding-top: 10px;
    
    .search{
     flex-basis: 33%;
      
    position: relative;

    .search__products{
        
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        margin-top: 60px;
        background: vars.$white;
        box-shadow: 0 0 2px #898989;
        transition: all .3s;
        .product__list-link{
            border-bottom: 1px solid #000;
            padding: 20px;
            display: block;
            transition: all .4s;
            &:hover{
                background: vars.$blue;
                color: vars.$white;
            }
        }
        .active-search-item{
            background: vars.$blue;
            color: vars.$white;
        }
    }
    input{
        background-color:vars.$pink;
      padding: 15px;
        width: 100%;

    }
    img{
        max-width: 30px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    }
    nav{
        display: flex;
        gap: 10px;
        width: 100%;
        justify-content: center;
        padding: 10px;
        background: vars.$pink;
        margin-top: 10px;
        .nav__item{
          transition: all .4s;
          padding: 10px 15px;
          display: block;
         
          &:hover{
            background: vars.$red;
            color: vars.$white;
          }
        }
    }
}   
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}
.header__logo{
    img{
        max-width: 200px;
        padding: 10px 0;
    }
}
.header__row {
    display: flex;
    align-items: center;
}
.header__user {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    color: vars.$blue;
    flex-basis:33%;
    article{
        padding: 10px 15px;
        transition: all .4s;
        text-align: center;
        &:hover{
            background: vars.$blue;
            color: vars.$white;
        }
    }
    img{
        max-width: 30px;
    }
}

.user__data{

    display: flex;
    gap: 20px;
   
    align-items: center;
    button{
        max-width: 200px;
        font-size: 16px;
        padding: 5px 20px;
    }
    span{
        padding: 10px 10px ;
        background: vars.$pink;
        text-align: center;

    }
    div{
        display: flex;
        align-items: center;
        gap: 5px;
    }

}
